<div class="Header-container">
  <!--header logo and searchbar------- -->
  <h1 class="primary-logo"><a routerLink="Home"> MyLOGO!</a></h1>

  <div *ngIf="menuType=== 'default' || 'seller' " class="searchbar">
    <input #searchItem (keyup)="searchProduct($event)" (blur)="hideSearchedProduct()" placeholder="Search something..."
      class="searchInput">
    <button class="searchBtn" (click)="submitSearch(searchItem.value)">search
    </button>
    <!-- [routerLink]="'Search-page'" -- remove cause navigate through class-->
    <div class="searchedResult" *ngIf="searchedResult?.length">
      <div class="show" *ngFor="let item of searchedResult">
        
        <li routerLink="/Product-details/{{item.id}}" >{{item.name}}</li>
        <!--  routerLink="Search-page"--
            can be use like this on individual links to navigate to target page
             but first face issu unclickable of link due to blue event of input.--->
        <!-- (click)="navigate()" -->
      </div>
    </div>
  </div>


  <!-- header links ------ -->
  <div class="primary-links">
    <div [ngSwitch]="menuType">
      <ul *ngSwitchCase="'default'" class="d-flex-justify-se">
        <li class="link-item"><a routerLink="Home">Home</a></li>
        <li class="link-item"><a routerLink="Seller-Register">Seller</a></li>
        <li class="link-item"><a routerLink="Login">Login</a></li>
        <li class="link-item"><a routerLink="Cart">Cart</a></li>
      </ul>
      <ul *ngSwitchCase="'seller'" class="d-flex-justify-se">
        <li class="link-item"><a routerLink="Seller-Home">Product List</a></li>
        <li class="link-item"><a routerLink="Add-Products">Add products</a></li>
        <li class="link-item"><a (click)="logout()">Logout</a></li>
        <li class="link-item"><a>{{sellerName | titlecase}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="body">

</div>