<div >
    <div *ngIf="updateMessage" class="updateMessage">{{updateMessage}}</div>
    <form #updateProForm = "ngForm" (ngSubmit)="submit(updateProForm.value)" class="form">
        <h2>Update product</h2>
        <input type="text"
            class="input-field"
         placeholder="product name"
         name="name"
         ngModel="{{productData.name}}"   
        >
        <input type="text"
            class="input-field"
         placeholder="product price"
         name="price"
         ngModel="{{productData.price}}"   
        >
        <input type="text"
            class="input-field"
         placeholder="product color"
         name="color"
         ngModel="{{productData.color}}"   
        >
        <input type="text"
            class="input-field"
         placeholder="product category"
         name="category"
         ngModel="{{productData.category}}"   
        >
        <textarea type="text"
            class="input-field"
         placeholder="product discription"
         name="discription"
         ngModel ="{{productData.discription}}">  
        </textarea>
        <input type="text"
            class="input-field"
         placeholder="product image"
         name="image"
         ngModel="{{productData.image}}"   
        >
        <input type="submit" name="submit" id="">
    </form>

</div>