.Home{
    // height:;
    background-color:rgb(250, 220, 182);
}
.product-show{
    margin-bottom: 20px;    
    
}
.myimg{
    object-fit: contain;
    width: 100%;
    height: 600px;
}

.product-list-wrapper{
    width: 90vw;    
    // border: solid red;
    margin: auto;
}

.item{
    height: 500px;
    width: 500px;
    
}